header .logo img {
	margin-top: -5px;
}
header .box-user-connected img{
	width: 37px;
	height: 37px;
}
header .box-user-connected.hover img{
	width: 27px;
	height: 27px;
}
header .box-user-connected .mask-shadow {
	position: absolute;
	z-index: 9;
	width: 38px;
	height: 5px;
	background: #ddd;
	left: 0;
	bottom: -3px;
	display: none;
}
.form .bt-form {
	padding: 11px 13px;
}
main .container-form a.close-day,
main .container-form a.close-ticket {
	top: -14px;
}
#form-filter-search-event #ffse-search {
	width: 240px;
}
main .event .bottom a,
main .box-grade .bottom a {
	padding: 11px 10px;
}